@charset "UTF-8";

/*-mv-*/
.rc_mv {
    background-image: url(../images/rc/rc_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 570px;
}

.rc_mv2 {
    background-image: url(../images/rc/rc_main2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 570px;
}

/*-section上波分余白-*/
.reserve,
.contact_box {
    padding-top: 180px;
    text-align: center;
}

section {
    padding-bottom: 20px;
}

.rc_text {
    text-align: center;
    padding: 30px;
}

.reserve .reserve_tel {
    font-size: 1.875rem;
    color: #fff;
}

.reserve_btn {
    padding: 30px;
}


/*-form-*/
.contact_form {
    width: 780px;
    font-size: 1.25rem;
    line-height: 2;
    padding: 10px;
}

.contact_form form dt {
    float: left;
    clear: left;
    width: 300px;
    font-size: 1.125rem;
    font-weight: bold;
    padding-top: 30px;
    line-height: 1.2;
    box-sizing: border-box;
}

.contact_form form dd {
    padding: 20px 20px 15px 300px;
    box-sizing: border-box;
    height: 85px;
}

.contact_form form span {
    color: #f60;
    font-size: 0.9375rem;
    display: block;
}

.contact_form form input[type="text"],
.contact_form form input[type="email"] {
    width: 100%;
    height: 45px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact_form form textarea {
    width: 100%;
    height: 120px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}

.contact_form form .submit {
    text-align: center;
    margin-bottom: 30px;
}

#textareaSection {
    margin-bottom: 50px;
}

/*-必須任意-*/
.form_title_hissu::after {
    background-color: #ff8053;
    color: #fff;
    content: "必須";
    border: 1px solid #ff8053;
    border-radius: 100px;
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    padding: 5px 8px;
    font-size: 0.9375rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form_title_nini::after {
    background-color: #fff;
    color: #ff8053;
    content: "任意";
    border: 1px solid #ff8053;
    border-radius: 100px;
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    padding: 5px 8px;
    font-size: 0.9375rem;
    font-family: Arial, Helvetica, sans-serif;
}

#submitBtn {
    /* buttonタグのリセットCSS */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1.125rem;
    padding: 10px 55px;
    background-color: #d9cb04;
    cursor: pointer;
}

#submitBtn[disabled] {
    background-color: #d9cb0480;
    cursor: not-allowed;
}

.submit{
    padding-top: 80px;
}